<ion-header [translucent]="true">
  <ion-toolbar  class="barrag">
    <ion-title>Lista de Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondol">

  <ion-card *ngFor="let x of lista_personas" >
    <ion-card-header>
      <ion-card-title> USUARIO: {{x.nombre}} {{x.apellido}} </ion-card-title>
     
    </ion-card-header>
    

    <ion-card-content>
      Contra: {{x.contrasena}} 
    </ion-card-content>
  </ion-card>

  <ion-button class="boton fondo barrag" expand="block" (click)="volver()">volver
  </ion-button>

</ion-content>