<ion-header [translucent]="true">
  <ion-toolbar  class="barrag">
    <ion-title>Lista de Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondol">

  <ion-card *ngFor="let x of lista_personas" >
    <ion-card-header>
      <ion-card-title> USUARIO: {{x.NOMBRE}} {{x.APELLIDO}} </ion-card-title>
      <ion-card-title>APELLIDO: {{x.APELLIDO}}</ion-card-title>
    </ion-card-header>
    

    <ion-card-content>
      Contra: {{x.CONTRASENA}} 
      <ion-button expand="block" color="danger" > Eliminar Persona</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button class="boton fondo barrag" expand="block" (click)="volver()">volver
  </ion-button>

</ion-content>