<!-- <ion-header [translucent]="true">
  <ion-toolbar class="barrag">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header> -->
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' http://192.168.1.173:8100/">

<ion-content [fullscreen]="true" class="fondol">
  <div class="centrado">
    <ion-img src="../assets/img-vivo.png"></ion-img>
    <br>
    <ion-item class="inputg ion-margin-top">
      <!-- [(ngModel)]  -->
      <ion-input lines="none" [(ngModel)]="mdl_usuario" label="usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <br>
    <ion-item class="inputg ion-margin-top">
      <ion-input lines="none" [(ngModel)]="mdl_contra" label="contraseña" type="password"labelPlacement="floating"></ion-input>

    </ion-item>
    
    <br>
    <!-- BOTON DE INGRESO -->
    <ion-button (click)="ingresar()  " expand="block" class="boton fondo barrag">INGRESAR</ion-button>
    <ion-button (click)="registro()" expand="block" class="boton fondo barrag" >REGISTRO</ion-button>
    <ion-button (click)="recuperar()" expand="block" class="boton fondo barrag">CAMBIAR CONTRASEÑA</ion-button>
    <br>
  </div>

  <ion-card *ngFor="let x of lista_personas"class="inputg " >
      <ion-card-content> USUARIO: {{x.usuario}}  </ion-card-content>
      <ion-card-content>Contra: {{x.contrasena}}</ion-card-content>
  </ion-card>


  <ion-alert
  [isOpen]="isAlertOpen"
  header="Información"
  message="campos vacios"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  >
  </ion-alert>
  <ion-alert
  [isOpen]="isAlertOpenError"
  header="Información"
  message="campos erroneos"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  >
  </ion-alert>
  

</ion-content>