<!-- <ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Nueva Persona</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="fondo2">
  <div class="centrado">
    <div class="ion-text-center">
      <ion-label class="titulo">  REGISTRAR </ion-label>
    </div>
    <ion-item class="inputg ion-margin-top">
      <ion-input [(ngModel)]="mdl_nombre" label="Nombre" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item class="inputg ion-margin-top">
      <ion-input [(ngModel)]="mdl_apellido" label="Apellido" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item class="inputg ion-margin-top">
      <ion-input [(ngModel)]="mdl_usuario" label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item class="inputg ion-margin-top">
      <ion-input [(ngModel)]="mdl_email" label="Email" type="email" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item class="inputg ion-margin-top">
      <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" type="password" labelPlacement="floating"></ion-input>
    </ion-item>
    <br>
    <ion-button class="boton fondo barrag" expand="block" (click)="almacenarPersona()"> Registrar
    </ion-button>
    

    <!-- <ion-item color="primary" color="warning" class="ion-margin-top">
      <ion-label> CANTIDAD DE PERSONAS: {{ cantidad }}</ion-label>
    </ion-item> -->

    <!-- <ion-button class="boton fondo barrag" expand="block" (click)="irListarPersonas()"> Listar Personas
    </ion-button> -->
    <br>
    <ion-button class="boton fondo barrag" expand="block" (click)="volver()">volver
    </ion-button>


  </div>
  <ion-alert
  [isOpen]="isAlertOpen"
  header="Información"
  message="campos vacios"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  >
  </ion-alert>

  <ion-alert
  [isOpen]="isAlertOpenDuplicado"
  header="Información"
  message="Nombre de usuario ya registrado"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  >
  </ion-alert>

  <ion-alert
  [isOpen]="isAlertOpenEmail"
  header="Información"
  message="Correo ya registrado"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  >
  </ion-alert>
</ion-content>